* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapercave.com/wp/5Rl386C.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

#container {
    width: 1000px;
    margin: 25px auto;
    background-color: rgb(8, 29, 16);
    border: 5px double rgb(215, 224, 219);
    outline: 7px outset white;
}

h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    color: white;
    border-bottom: 1px solid white;
}

h1 span {
    color: darkgreen;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: white;
    border-bottom: 1px solid white;
}

h4 {
    color: white;
    margin: 0px 700px 0px 20px;
}

ul li a {
    color: white;
}

ul li a:hover {
    color: blue;
}

p {
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    color: white;
}

/*style start*/
#about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: 1px dotted white;
}


/*table style*/
table {
    width: 500px;
    margin: 5px auto;
}

th {
  height: 40px;
  background-color: gainsboro;
  color: black;
}

tr {
    height: 60%;
    text-align: center;
}

table, th, tr, td {
    border: 1px solid white;
}

#gryffindor {
    color: rgb(248, 182, 40);
    background-color: rgb(155, 24, 24);
}

#slytherin {
    color: silver;
    background-color: green;
}

#ravenclaw {
    color: rgb(26, 20, 16);
    background-color: rgb(32, 73, 255);
}

#hufflepuff {
    color: black;
    background-color: rgb(255, 136, 0);
}

/*main character style*/
#character {
    color: whitesmoke;
}

/*dafpus*/
.dafpus a {
    color: rgb(255, 17, 0);
}